* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins";
}
body {
  height: 3000px;
}
.hero {
  background: #fffcf4;
  height: 900px;
  padding: 36px 0px 65px 0px;
}
a {
  text-decoration: none;
}
.content {
  width: 1170px;
  margin: 0px auto;
}
/* if(màn hình < 1170px -> width = 768px) */

.header {
  display: flex;
}
.color-yellow {
  color: #ffb900 !important;
}
.header .brand {
  color: #171100;
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}
.nav {
  flex-grow: 1;
  list-style: none;
  display: flex;
  gap: 42px;
  justify-content: flex-end;
}
.nav li {
  /* display: flex;
  align-items: center; */
}

.nav-li-a {
  color: #5f5b53;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}

.btn-sign-up {
  width: 144px;
  height: 50px;
  background-color: #fff;
  border-radius: 24.5px;
  background: #171100;
  margin-left: 70px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.icon-facebook {
  font-size: 100px;
  color: violet;
}
.input-test {
  height: 50px;
  width: 100%;
  color: #fff;
  font-size: 40px;
  background-color: black;
}
@media only screen and (max-width: 1400px) and (min-width: 1200px) {
  .content {
    width: 1050px;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .content {
    width: 900px;
  }
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .content {
    width: 700px;
  }
}
/* ẩn khi nó to */
@media screen and (min-width: 768px) {
  .header-mobile {
    display: none;
  }
}
/* mobile */
@media only screen and (max-width: 767px) {
  .header {
    display: none;
  }
  .content {
    width: calc(100% - 40px);
  }
  .icon-nav {
    font-size: 30px;
  }
  .nav {
    display: none;
  }
  .header-mobile:hover .nav {
    display: block;
  }

  .nav li {
    color: #ddd;
    margin-bottom: 5px;
    padding: 0px 20px;
    background-color: #111;
    border-radius: 4px;
  }
}
