* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html {
  font-family: "Poppins";
}
body {
  height: 3000px;
}
.hero {
  background: #e9e0c6;
  height: 900px;
  padding: 36px 0px 65px 0px;
}
a {
  text-decoration: none;
}
.content {
  width: 1170px;
  margin: 0px auto;
}
/* if(màn hình < 1170px -> width = 768px) */

.header {
  display: flex;
}
.color-yellow {
  color: #ffb900 !important;
}
.header .brand {
  color: #171100;
  font-family: Sen;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
}
.nav {
  flex-grow: 1;
  list-style: none;
  display: flex;
  gap: 42px;
  justify-content: flex-end;
}
.nav li {
  /* display: flex;
  align-items: center; */
}

.nav-li-a {
  color: #5f5b53;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
}

.btn-sign-up {
  width: 144px;
  height: 50px;
  background-color: #fff;
  border-radius: 24.5px;
  background: #171100;
  margin-left: 70px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}
.icon-facebook {
  font-size: 100px;
  color: violet;
}
.input-test {
  height: 50px;
  width: 100%;
  color: #fff;
  font-size: 40px;
  background-color: black;
}
@media only screen and (max-width: 1400px) and (min-width: 1200px) {
  .content {
    width: 1050px;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .content {
    width: 900px;
  }
}
@media only screen and (max-width: 992px) and (min-width: 768px) {
  .content {
    width: 700px;
  }
}
/* ẩn khi nó to */
@media screen and (min-width: 768px) {
  .header-mobile {
    display: none;
  }
}
/* mobile */
@media only screen and (max-width: 767px) {
  .header {
    display: none;
  }
  .content {
    width: calc(100% - 40px);
  }
  .icon-nav {
    font-size: 30px;
  }
  .nav {
    display: none;
  }
  .header-mobile:hover .nav {
    display: block;
  }

  .nav li {
    color: #ddd;
    margin-bottom: 5px;
    padding: 0px 20px;
    background-color: #111;
    border-radius: 4px;
  }
}
.hero_body {
  display: flex;
  margin-top: 72px;
}
.hero_body_right {
  margin-left: 230px;
}
.hero_body_right h2 {
  color: #171100;
  font-family: Sen;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px; /* 117.241% */
  letter-spacing: -1.16px;
}
.hero_body_right p {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.hero_body_right_3 {
  margin-top: 38px;
  margin-bottom: 48px;
  display: flex;
}
.hero_body_right_3 button {
  width: 180px;
  height: 64px;
  flex-shrink: 0;
  border-radius: 32px;
  background: #ffb900;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
  margin-right: 28px;
}

.hero_body_right_3_play_button {
  color: rgba(255, 185, 0, 1);
  /* line-height: 40px; */
  /* font-size: 24px; */
}
.hero_body_right_3_video {
  display: flex;
  align-items: center;
}
.play_button_div {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 28px;
  width: 40px;
  height: 40px;
  margin-right: 14px;
}
.hero_body_right p {
  margin-top: 22px;
}
.hero_body_right_3 p {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.hero_body_right_3 span {
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.hero_body_right_span_1 {
  color: #171100;
  font-family: Sen;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 122.727% */
  margin-top: 8px;
}
.hero_body_left_menu_1 {
  margin-left: 16px;
}
.hero_body_left_menu_1 p {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}
.hero_body_left_menu_1 span {
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.hero_body_right_span_2 {
  color: #171100;
  font-family: Sen;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 122.727% */
  margin-top: 8px;
  margin-left: 28px;
}
.hero_body_right_bottom p {
  margin-bottom: 8px;
}
.hero_body_left_menu {
  display: flex;
  /* width: 48px;
  height: 48px; */
}
.hero_body_left_menu_all {
  width: 270px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
  padding: 28px 0px 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: absolute;
  bottom: 48px;
  right: -100px;
}
.hero_body_left {
  position: relative;
}
